/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom left ,#A6A08A,#4b4537); 
}

html {
  scroll-behavior: smooth;
}

p {
  color: #4b4537;
  margin-top: 10px;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links{
  display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links ul {
  display: flex; 
  list-style: none; 
  gap: 2rem;
  font-size: 1.5rem;
  margin: 0; 
  padding: 0; 
}
a{
  color: #26231C;
  text-decoration: none;
  text-underline-offset: 0.5rem;
  text-decoration-color: #D0CDC3;
}
a:hover{
  color:#D0CDC3;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #D0CDC3;
}
.logo{
  font-size: 2rem;
  color: #26231C;
}
.logo:hover{
  cursor: default;
}


/*HAM MENU*/

#ham-nav{
  display: none;
}
.ham-menu{
  display: inline-block;
  position: relative;
  z-index: 2;
}
.ham-icon{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.ham-icon span{
  width: 100%;
  height: 2px;
  background-color: #26231C;
  transition: all 0.3 ease-in-out;
}
.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: azure;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #26231C;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.menu-links a:hover{
  color:#D0CDC3;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #D0CDC3;
}
.menu-links li{
  list-style: none;
}
.menu-links.open{
  max-height: 300px;
}

.ham-icon.open span:first-child{
  transform: rotate(45deg) translate(10px ,5px);
}
.ham-icon.open span:nth-child(2){
  opacity: 0;
}
.ham-icon.open span:last-child{
  transform: rotate(-45deg) translate(10px,-5px);
}

.ham-icon span:first-child{
  transform: none;
}
.ham-icon span:first-child{
  opacity: 1;
}
.ham-icon span:first-child{
  transform: none;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  z-index: 1;
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.pfp{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: #26231C;
  font-weight: bold;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  color: #26231C;
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon{
  filter: none;
  cursor: pointer;
  height: 2rem;
  padding: 0.5rem;
  transition: all 300ms ease;
  border-radius: 50%;
}
.icon:hover{
  filter: drop-shadow(0px 0px 5px #D0CDC3) ;
  border-radius: 50%;
}
.icon1{
  filter: none;
  height: 2rem;
  padding: 0.5rem;
  transition: all 300ms ease;
  border-radius: 50%;
}

/* BUTTONS */
.btn-container{
  display: flex;
  justify-content: center;
  
}
.border-el-btn {
  color: #26231C;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 1em 2em;
  position: relative;
  background: none;
  cursor: pointer;
  margin: 1rem;
}

.border-el-btn:active {
  transform: scale(.98);
  box-shadow: .1px .1px 2px #26231C;
}

.border-el-btn span {
  position: absolute;
  background: #26231C;
  transition: .5s;
  box-shadow: 1px 1px 20px #26231C;
}

.border-el-btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 3px;
  height: 30%;
}

.border-el-btn:hover span:nth-child(1) {
  height: 100%;
}

.border-el-btn span:nth-child(2) {
  top: 0;
  left: 0;
  width: 15%;
  height: 3px;
}

.border-el-btn:hover span:nth-child(2) {
  width: 100%;
}

.border-el-btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 3px;
  height: 30%;
}

.border-el-btn:hover span:nth-child(3) {
  height: 100%;
}

.border-el-btn span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 15%;
  height: 3px;
}

.border-el-btn:hover span:nth-child(4) {
  width: 100%;
}

.btn-container2 {
  display: none;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: #26231C 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #26231C;
  color: white;
}

.btn-color-1:hover {
  background: #1b1914;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: #D0CDC3 0.1rem solid;
}

.btn-container2{
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-container{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-container,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  
  border: solid #4b4537;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.text-container p, .details-container p{
    color: #26231C;
}

/* IMG */
img{
  transition: all 300ms ease;
  filter: drop-shadow(1px 1px 4px black);
}
img:hover{
  filter: drop-shadow(0px 0px 9px #D0CDC3);

}

/* Exp section */

#experience{
  position: relative;
}

.experience-sub-title{
  color: #1b1914;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.experience-details-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.article-container{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
}
.article{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 10rem;
}
.exp{
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    border: solid #4b4537;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
}
article , h2, h3 , h1{
  cursor: default;
}

/* PRJS section */

#projects{
  position: relative;
}

.project-img{
  border-radius: 2rem;
  width: 50%;
  height: 50%;
}

.about-container{
  gap: 5rem;
  margin: 10%;
}

.project-title{
  margin: 1rem;
  color: #26231C;
}

.project-btn{
  color: black;
  border-color: rgb(163, 163, 163);
}

/* contact section */

#contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container{
  display: flex;
  justify-content: center;
  border: solid #4b4537;
  
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p{
  font-size: larger;
}

.contact-icon{
  height: 2.5rem;
}

/* footer section */

footer{
  height: 30vh;
  margin: 1rem;
}

footer p{
  text-align: center;
  color: #1b1914;
}